:root{
  --bg--all:#212529;
  --font-white: #fff;
}

.bg__news{
  background-color: var(--bg--all);
  height: auto;
  color: var(--font-white);
}

.border__box__title{
  border: 1px solid #000;
  padding: 10px;
}

.border__box__title h3{
  text-align: center;
  margin: 0px;
  font-size: 18px;
}

.main__list__news{
  padding: 5%;
}

.main__list__news li {
  list-style: none;
  border-bottom:1px solid #000 ;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}